@include reset();

body {
    font-family: $font-text;
    line-height: 1.3;
    background: $black-color;
    color: $white-color;
}

.container {
    width: 100%;
    padding-left: $fields;
    padding-right: $fields;
    margin: 0 auto;
    max-width: 320px;

    @include sm-block() {
        max-width: 720px;
    }

    @include md-block() {
        max-width: 960px;
    }

    @include lg-block() {
        max-width: 1140px;
    }
}

.relative {
    position: relative;
}
