.advantage {
  &__list {
    @extend .mb-4;

    &-item {
      @extend .mb-4;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-item {
    @extend .relative;
    padding-bottom: 10px;

    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 0;
      content: "";
      border-radius: 10px;
      background: rgba(37, 37, 37, 0.5);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    &__inner {
      @extend .relative;
      padding: 40px 30px;
      border-radius: 10px;
      z-index: 1;
      background: linear-gradient(290deg, #121212 0%, #2f2f2f 100%);
    }

    &__num {
      @extend .text-bold;
      color: #d93244;
      font-size: 50px;
    }

    &__text {
    }
  }
}
