.effect {
  &__list-item {
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.5;

    @extend %relative;

    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      width: 9px;
      height: 9px;
      background: #d93244;
      border-radius: 50%;
      box-shadow: 0 0 10px #d93244;
      content: "";
    }
  }
}
