.effect {

  &__title {
    @extend %mb-2;
  }

  &__subtitle {
    @extend %mb-2;
    @extend %text;
  }

  &__list {
    @extend %mb-1;
  }

  &__list-item {
    padding-left: 20px;
    margin-bottom: 2px;
    @extend %text;
    @extend %relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      width: 9px;
      height: 9px;
      background: $brand-color;
      border-radius: 50%;
      box-shadow: 0 0 10px $brand-color;
      content: "";
    }
  }
}
