.header {
  padding-top: 30px;
  padding-bottom: 15px;
  background: url("../img/header-bg.png") no-repeat;
  background-position: calc(50% + 140px) 0;

  &__logo {
    @extend %mb-1;
  }

  &__title {
    @extend %mb-1;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.3;
    @extend %mb-1;
    @extend %bold-weight;
  }

  &__button {
  }
}
