.promo {

  &__box {
    padding: 10px;
    background: url("../img/promo-bg.png") center top no-repeat,
      linear-gradient(290deg, #121212, #2f2f2f);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
  }

  &__box-inner {
    padding: 370px 10px 10px;
    border: 1px solid rgba($white-color, .2);
    border-radius: 10px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__list-item {
    padding-left: 20px;
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 1.6;
    @extend %relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 12px;
      left: 0;
      width: 9px;
      height: 9px;
      background: $brand-color;
      border-radius: 50%;
      box-shadow: 0 0 10px $brand-color;
      content: "";
    }
  }
}
