.research {

  &__inner {
    padding-right: 40%;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    @include md-block() {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__list-item {
    margin-bottom: 10px;

    @include md-block() {
      width: calc(50% - 30px);
      margin: 15px;
    }

    &:last-child {
      //margin-bottom: 0;
    }
  }
}

.research-item {
  display: flex;
  min-height: 160px;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(290deg, #121212, #2f2f2f);
  border-radius: 10px;

  &__name {
    display: flex;
    margin-bottom: 20px;
  }

  &__name-text {
    flex-grow: 1;
    @extend %text-base;
  }

  &__name-icon {
    width: 30px;
    flex-shrink: 0;
    margin-left: 20px;
  }

  &__progress {
    margin-top: auto;
  }
}
