.button {
  display: inline-block;
  width: 100%;
  border: 1px double transparent;
  background: $brand-color;
  background: red;
  //background: linear-gradient(180deg, #d93244, #8f0b0d),
  //  linear-gradient(rgba($white-color, 1), rgba($white-color));
  background-clip: content-box, border-box;
  background-origin: border-box;
  border-radius: 10px;
  // padding: 26px;
  color: $white-color;
  content: "";
  font-size: 30px;
  font-weight: $bold-weight;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  @extend %relative;

  // box-shadow: 0 0 50px 0 $brand-color;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(217, 50, 68, .4);
    border-radius: inherit;
    content: "";
    filter: blur(50px);
  }

  &__inner {
    display: block;
    padding: 26px;
    @extend %relative;
  }
}
