.input {
  display: block;
  width: 100%;
  height: 55px;
  padding: 0 50px;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 10px;
  color: #848484;
  font-size: 14px;
  line-height: 55px;

  &:focus {
    border-color: $brand-color;
  }
}
